/*The navbar*/

h1.mh-logo{
  max-width: 100%;
  height: auto;
  color:#B2E0EE;
  --color:rgb(43, 41, 42) !important;
  font-size:2.2em;
  font-family: 'Fredoka One', cursive;
  
}
.rules{
	font-size:0.5em !important;

}
.main-nav-list,a{
	font-family: 'Fredoka One', cursive;
	font-size: 1.5em;
	text-decoration: none;
	color:#B4E2EF !important;

}
.container {
	width: 100%;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
	
}
/*Flex-wrap breaks it into two lines on small screens*/
.main-header .container {
    display:-webkit-flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;

}
.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
}
