/*The navbar*/

h1.mh-logo{
  max-width: 100%;
  height: auto;
  color:#B2E0EE;
  --color:rgb(43, 41, 42) !important;
  font-size:1.9em;
  font-family: 'Fredoka One', cursive;
  
}
.rules{
	font-size:0.5em !important;

}
.main-nav-list,a{
	font-family: 'Fredoka One', cursive;
	font-size: 1.5em;
	text-decoration: none;
	color:#B4E2EF !important;

}
.nav-container {
	width: 100%;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

div.nav-container{
	background-color: #232C2F;
	width: 100%;
	opacity: 0.9 !important;
  }
/*Flex-wrap breaks it into two lines on small screens*/
.main-header .nav-container {
	display:-webkit-flex;
    align-items: center;
    color: white;
    font-family: 'Fredoka One', cursive;
    --background-color: #232C2F;
    height: 100%;
    width: 100%;
    font-size:1.4em;
    padding-top:20px;
    flex-direction: row;
    padding: 40px;

}
.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
}

@media only screen and (max-width: 600px){
	.main-nav a {
		display: inline-block;
		padding: .1em 0.2em;
	}
	h1.mh-logo{
			font-size:1.3em;
	  }
}


li{list-style-type:none}