.word-wrapper{
    --width: 100%; 
    --text-align: center;
    display:-webkit-flex;
    align-items: center;
    justify-content: center;
     }


.input-word {
    --display: inline-block; 
    --margin: 0 auto;
    --padding: 3px;
    max-width: 50%;
    z-index: 0;
    }
.btn:active{
border-color: green !important;
}

input.form-control{
    height: 45px;
}
i.fa{
    font-size:1.2em !important;
}
