@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Fredoka+One&display=swap');
html, body, #root, #root>div {
  height: 100%;
  --background-color: #282c34;
  --background: rgb(89,145,188);
  --background: -moz-linear-gradient(0deg, rgba(89,145,188,1) 36%, rgba(253,187,45,1) 100%);
  --background: -webkit-linear-gradient(0deg, rgba(89,145,188,1) 36%, rgba(253,187,45,1) 100%);
  --background: linear-gradient(0deg, rgba(89,145,188,1) 36%, rgba(253,187,45,1) 100%);
  --filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5991bc",endColorstr="#fdbb2d",GradientType=1);
  
}

.App {
  padding-top:0px;
  text-align: center;
  background-color: #282c34;
  --font-family: 'Roboto', sans-serif;
  font-family: 'Fredoka One', cursive;
  height: 100%;
  display:-webkit-flex;
  flex-direction:column;
  background: url(./Images/8.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App-header {
  min-height: 110px;
  display:-webkit-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #BC386B;
  margin-bottom:15px;
  
}

h1{
  font-size: 3em;
  margin-top:none
}
.Add-word{
  display:-webkit-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  color:#BC386B;
  font-size: calc(10px + 2vmin);
}

.add-word-and-status{
  width: 100%;
  display:-webkit-flex;
  flex-flow: row wrap;
  justify-content: center;
  --max-width: 100%;
  --align-items: stretch;
  --flex-wrap:wrap;
}

.add-word-and-status > * {
  padding: 15px;
  flex:1 100%
  
}

div .wordPool{
  text-align: center;
  color:#6C757D;
  font-size:1.1em;
  
}

div .wordform{
  text-align: center;
  flex:1 100%;
  
}
div .number{
  text-align: center;
  flex:1 100%;
  font-size:2.0em;
  

}
  

div.container{
  background-color:black;
  width: 100%;
  opacity: 80%;
}

.alert-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.alert-dark{
color:white !important;  
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 0;
}
.larger-text{
  font-family: 'Fredoka One', cursive;
  font-size: 1.1em;
  color:#2A7FB1;
}
.smaller-text{
  color:#2A7FB1;
}
.wordPool{
 font-family: 'Fredoka One', cursive;
}
.start-new-round{
  width: 20% !important;
}

